* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: #444;
    position: relative;
}

.main-wrapper {
    margin: auto;
    max-width: 1280px;
    padding: 0 20px;
}

.top-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #874545;
    width: 100%;
    height: 600px;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
}

.bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #874545;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

/* ================================ */
/* ===== HEADER ===== */
/* ================================ */

.main-header {
    display: flex;
    position: relative;
    padding-top: 50px;
}

.photo {
    height: 500px;
}

.photo-container {
    position: relative;
    box-shadow:
    1.7px 6.9px 2.7px rgba(0, 0, 0, 0.022),
    4.3px 17.4px 6.9px rgba(0, 0, 0, 0.031),
    8.9px 35.4px 14.2px rgba(0, 0, 0, 0.039),
    18.3px 73px 29.2px rgba(0, 0, 0, 0.048),
    50px 200px 80px rgba(0, 0, 0, 0.07)
    ;
}

.photo-tablet {
    display: none;
}

.name-tablet {
    display: none;
}

.name-holder {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 70%);
    text-align: center;
    font-size: 2rem;
}

.aboutme-container {
    padding: 30px 0;
    width: 100%;
}

.aboutme-info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    padding: 30px;
    box-shadow:
    1.7px 1.7px 2.7px rgba(0, 0, 0, 0.022),
    4.3px 4.3px 6.9px rgba(0, 0, 0, 0.031),
    8.9px 8.9px 14.2px rgba(0, 0, 0, 0.039),
    18.3px 18.3px 29.2px rgba(0, 0, 0, 0.048),
    50px 50px 80px rgba(0, 0, 0, 0.07)
    ;
}

.aboutme-paragraphs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 155%;
}

.socials {
    display: flex;
    gap: 15px;
    align-self: flex-end;
    margin-top: auto;
}

.socials a {
    color: #444;
    font-size: 32px;
}

.socials a:hover {
    color: #3d3d3d;
}

/* ================================ */
/* ===== MAIN ===== */
/* ================================ */

main {
    margin: 100px 0;
}

.grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

main article {
    box-shadow:
    1.7px 1.7px 5.3px rgba(0, 0, 0, 0.028),
    5.6px 5.6px 17.9px rgba(0, 0, 0, 0.042),
    25px 25px 80px rgba(0, 0, 0, 0.07)
    ;
    border: 1px solid #fff;
    transition: all .1s ease-in;
}

.article-body {
    padding: 20px;
}

.article-body p {
    margin-top: 10px;
    line-height: 22px;
}

.project-picture {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    color: #444;
}

/* ================================ */
/* ===== FOOTER ===== */
/* ================================ */

.main-footer {
    padding: 50px 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    color: #fff;
}

.main-footer p {
    letter-spacing: 0.3px;
}

.contact-photo {
    height: 500px;
}

.contactme-heading {
    font-size: 1.5rem;
}

.touch-msg {
    margin-top: 10px;
}

.adress {
    margin: 20px 0;
}

.discord {
    margin-top: 20px;
}

.footer-socials {
    display: flex;
    gap: 30px;
    font-size: 64px;
    margin-top: 20px;
}

.footer-socials a {
    color: #fff;
}

/* ================================ */
/* ===== TABLET MEDIA QUERIES ===== */
/* ================================ */

@media screen and (max-width: 1036px) {
    .main-header {
        display: unset;
    }
    
    .photo {
        height: 400px;
    }
    
    .photo-container {
        display: none;
    }

    .photo-tablet {
        display: block;
        float: inline-start;
        height: 400px;
        object-fit: contain;
        margin: -110px 30px 10px -80px;
        box-shadow:
        1.7px 1.7px 5.3px rgba(0, 0, 0, 0.028),
        5.6px 5.6px 17.9px rgba(0, 0, 0, 0.042),
        25px 25px 80px rgba(0, 0, 0, 0.07)
        ;
    }
    
    .aboutme-container {
        padding: 130px 0px 0 50px;
    }
    
    .aboutme-info {
        position: relative;
        width: 100%;
        display: block;
    }
    
    .aboutme-paragraphs {
        display: block;
    }

    .aboutme-paragraphs p {
        padding-bottom: 10px;
        width: 100%;
    }

    .socials {
        margin-top: 20px;
        display: block;
        text-align: right;
    }
    
    .socials a:nth-child(2) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .name-tablet {
        font-size: 3rem;
        z-index: 2;
        display: block;
        position: absolute;
        top: -70px;
        left: 207px;
        color: #fff;
    }

    .bottom-bg {
        height: 500px;
    }

    .contact-photo {
        height: 400px;
    }

    .first-letter {
        color: #444;
    }

    .half-color {
        position: relative;
    }

    .half-color:before{
        position:absolute;
        top:0;	
        left:0;
        content: attr(attribute);
        color:#444;
        width: 52%;
	    overflow:hidden;
    }
}

/* ================================ */
/* ===== MOBILE MEDIA QUERIES ===== */
/* ================================ */

@media screen and (max-width: 696px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .main-wrapper {
        padding: 0 10px;
    }

    .main-footer {
        flex-direction: column;
    }

    .bottom-bg {
        height: 840px;
    }

    .contact-photo {
        object-fit: contain;
    }

    .footer-socials {
        justify-content: center;
    }

    .name-tablet, .photo-tablet {
        display: none;
    }

    .aboutme-container {
        padding: 30px 0;
    }

    .photo-container {
        display: flex;
        width: 100%;
        background-color: #fff;
        max-width: 100%;
        height: auto;
        max-height: 500px;
    }

    .photo {
        max-width: 100%;
        height: auto;
        max-height: 500px;
        margin: auto;
    }

    .main-header {
        display: block;
    }

    .aboutme-header {
        text-align: left;
    }

    .socials {
        text-align: center;
    }

    .name-holder {
        font-size: unset;
    }

    .article-header {
        align-items: baseline;
    }

    .links {
        gap: 20px;
        font-size: 20px;
    }
}